@import "compass";

@import "jquery.mobile-1.1.0.min";

@import "bootstrap.min";
@import "bootstrap-responsive";

@import "add2home";

ul{
	.feed-item{
		overflow: hidden;
		&.read{
			position: relative;
			&::after{
				content: "✓";
				text-align: center;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				color: white;
				background-color: green;
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
		.extra{
			display: none;
		}
		&.show{
			.extra{
				display: inline-block;
			}
		}	
	}
}

.num-unread{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: white;
	background-color: green;
	position: absolute;
	top: 4px;
	right: 4px;
}

.hidden{display: none;}
.rss-container{
	ul{
		list-style: none;
		margin: 0;
		li{
			margin: 4px 0;
			padding: 16px;
			cursor: pointer;
			h5{
				color: #ccc;
				text-shadow: none;
			}

		}
	}
}

/*
$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: sans-serif;
$base-font-size:   12px;
$base-line-height: 18px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;


body {
  font-family: $font-family;
  color: $font-color; 
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

#main {
  padding: 50px;
}
*/
.ui-page{
	min-height:100%;

	background-color:#121417;
	background-image:-moz-linear-gradient(top, #060606, #252a30);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#060606), to(#252a30));
	background-image:-webkit-linear-gradient(top, #060606, #252a30);
	background-image:-o-linear-gradient(top, #060606, #252a30);
	background-image:linear-gradient(to bottom, #060606, #252a30);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff060606', endColorstr='#ff252a30', GradientType=0);
}

.optier-footer.ui-footer .ui-btn-inner {
	padding-top: 6px !important;
	.ui-icon{
		margin: 0 auto;
	}
	.ui-btn-text {
		font-size: 9px;
		margin-top: 3px;
		height: 20px;
	}
	padding-left: 4px;
}

.optier-title{
	margin-top: 6px;
	margin-left: 4px;
}

.products-list {
	margin: 0;
	.well{
		padding: 17px;
		h2{
			margin: 0;
		}
	}
	a:hover{
		text-decoration: none;

	}
	.well:hover{
		border: 1px solid #2373a5;
		background: #5393c5;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		text-shadow: 0 1px 1px #3373a5;
		text-decoration: none;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#5393c5),to(#6facd5));
		background-image: -webkit-linear-gradient(#5393c5,#6facd5);
		background-image: -moz-linear-gradient(#5393c5,#6facd5);
		background-image: -ms-linear-gradient(#5393c5,#6facd5);
		background-image: -o-linear-gradient(#5393c5,#6facd5);
		background-image: linear-gradient(#5393c5,#6facd5);
		font-family: Helvetica,Arial,sans-serif;
	}
	
}
.container{	
	margin: 10px auto 10px auto;
	&.products-list{
		margin: 30px auto 0px auto;	
	}
	p{
		font-family: 'Droid Sans',sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #999999;
		text-shadow: none;
	}
} 

@media only screen and (min-device-width : 520px) {
	.video{
		height: 400px !important;
		width: 500px;
	}
}

.optier-header{
	padding-top:20px;
	height: auto;
}
.optier-icons{
	
	text-decoration: none !important;
	
	.ui-btn-inner{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		> div{
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 32px;
			height: 32px;
			margin: 0 auto;
			&:hover{
				text-decoration: none;
			}
		}
	
		.home{
			background-image: url(../images/footer4/home.png);
		}
		.twitter{
			background-image: url(../images/footer4/twitter.png);
		}
		.linkedin{
			background-image: url(../images/footer4/linkedin.png);
		}
		.youtube{
			background-image: url(../images/footer4/youtube.png);
		}
		.blog{
			background-image: url(../images/footer4/rss.png);
		}
	}
}