<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>


<div data-role="content">
  <div class="container">  
      <p>OpTier APM is a single product that runs 24/7 in the production environment
        for discovery, end-user experience, business transaction management, deep
        diagnostics and the industry’s most advanced analytics for APM. OpTier
        APM is based on a unique cross-silo, Contextual Big Data approach that
        features patented ACT™ (Active Context Tracking) technology.
        </p>
        <p> We track every transaction – wherever your users are and however they
        interact – over any architecture with very low overhead and automatically
        tie together the business process, end user, application, datacenter and
        cloud perspectives, providing unmatched visibility into your infrastructure
        and how it impacts the performance of your customer-facing applications.
        With OpTier, businesses respond quickly and proactively to change through
        sophisticated alerts, dynamic topologies, business process views to deep
        diagnostics application code level within 2 clicks. OpTier manages 3 billion
        transactions per day across for Fortune 1000 clients. How can we help you?</p>
        <iframe width="100%" height="100%" src="http://www.youtube.com/embed/JCDyF_OMV4s"></iframe>
  </div>
</div><!-- /content -->

