<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>


<div data-role="content">
    <div class="container">   
      <p>While big data promises to deliver competitive advantage to the companies
        that learn how to use it effectively, the truth is many firms are struggling
        to realize the benefits in real life.
        </p>
        <p> This research paper examines the sources of big data from transactions
        to social media and provides recommendations on how to integrate multiple,
        distributed sources into one big data model that can be used by business
        users for fast and flexible analysis. Several methodologies for creating
        context are examined, with the pros and cons of each explored.
        </p>
        <p> Solve the complexity problem and start getting the most of big data.</p>
      <iframe width="100%" src="http://www.youtube.com/embed/nNzD02-wY1A"></iframe>
    </div>
</div><!-- /content -->

 