<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>
<% content_for :pagename do %>blog<% end%>


<div data-role="content">
 	<div id="blog-container" class="container rss-container">
      
    </div>
</div><!-- /content -->


