<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>
<% content_for :pagename do %>home<% end%>


<div data-role="content">
 	<div class="container products-list">
        <div class="row">
        	<a href="bda.html" data-prefetch="true">
	          <div class="span4">
	            <div class="well">
	              <h2>Big Data Analytics</h2>
	            </div>
	          </div>
	      </a>
        	<a href="apm.html" data-prefetch="true">
	          <div class="span4">
	            <div class="well">
	              <h2>APM On-Premises</h2>
	            </div>
	          </div>
	      </a>
        	<a href="saas.html" data-prefetch="true">
	          <div class="span4">
	            <div class="well">
	              <h2>APM SaaS</h2>
	            </div>
	          </div>
	      </a>
        </div>
     </div>
</div><!-- /content -->

