<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>
<% content_for :pagename do %>linkedin<% end%>

<div data-role="content">
 	<div id="linkedin-container" class="container rss-container">
      
    </div>
</div><!-- /content -->
