<% content_for :home do %>a<% end%>
<% content_for :twitter do %>a<% end%>
<% content_for :linkedin do %>b<% end%>
<% content_for :youtube do %>a<% end%>
<% content_for :blog do %>a<% end%>

<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>


<div data-role="content">
 	<div id="linkedin-container" class="container rss-container">
      
    </div>
</div><!-- /content -->
