<% content_for :home do %>a<% end%>
<% content_for :twitter do %>b<% end%>
<% content_for :linkedin do %>a<% end%>
<% content_for :youtube do %>a<% end%>
<% content_for :blog do %>a<% end%>

<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>
<% content_for :pagename do %>twitter<% end%>


<div data-role="content">
 	<div id="twitter-container" class="container rss-container">
      
    </div>
</div><!-- /content -->
