<% content_for :home do %>a<% end%>
<% content_for :twitter do %>a<% end%>
<% content_for :linkedin do %>a<% end%>
<% content_for :youtube do %>b<% end%>
<% content_for :blog do %>a<% end%>

<% content_for :head do %>
  <title>OpTier Central</title>
<% end%>
<% content_for :pagename do %>youtube<% end%>


<div data-role="content">
 	<div id="youtube-container" class="container rss-container">
      
    </div>
</div><!-- /content -->


